log-model/src/main/resources/xsd/logBlock.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:beans.log.home.my.com"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            xmlns="urn:beans.log.home.my.com"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="LogBlock">
        <xsd:attribute name="startTime" type="xsd:long"/>
        <xsd:attribute name="endTime" type="xsd:long"/>
        <xsd:attribute name="fileName" type="xsd:string"/>
        <xsd:attribute name="size" type="xsd:long"/>
    </xsd:complexType>
</xsd:schema>