log-model/src/main/resources/xsd/logFilesDescriptor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:beans.log.home.my.com"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            xmlns="urn:beans.log.home.my.com"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="LogFilesDescriptor">
        <xsd:sequence>
            <xsd:element name="files" maxOccurs="unbounded" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="directory" type="xsd:string"/>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
</xsd:schema>